/* 23-10-2020 */
// Sticky Header & Footer in List View
.o_form_view .o_list_view {
    .table-responsive  {
        max-height: 250px;
    	overflow-y: scroll;
    	overflow-x: initial;
    	display: inline-block;
    }
}

/* 8-12-2020 */
.o_form_view .o_list_view .o_list_table thead {
    position: sticky !important;
    top: 0;
    z-index: 0;
}
.o_form_view .o_list_view .o_list_table thead tr:nth-child(1) th {
    background-color: $o-list-footer-bg-color;
}
// .o_list_view .o_optional_columns_dropdown_toggle{z-index: 0;}

