// Sticky Header & Footer in List View
.o_content > .o_list_view {
    .table-responsive {
        overflow-x: initial;
        .o_list_table {
            tfoot,
            tfoot tr:nth-child(1) td {
                position: sticky;
                bottom: 0;
            }
            tfoot tr:nth-child(1) td {
                background-color: $o-list-footer-bg-color;
            }
        }
    }
}
/* 22-12-2020 */
.o_list_view .table-responsive{overflow: auto;}