@media only screen and (min-width: 1534px){
.o_chatter_topbar {
        position: sticky;
        top: 0px !important;
        z-index: 1;
        background-color: $o-list-footer-bg-color;
 }

}

.o_FormRenderer_chatterContainer.o-aside .o_Chatter .o_Chatter_fixedPanel{top: 0px !important;}